<!DOCTYPE html>
<html lang="en" xmlns:th="www.https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>model</th>
        <th>series</th>
        <th>color</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.getModel()}"></td>
        <td th:text="${car.getSeries()}"></td>
        <td th:text="${car.getColor()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>